<%= form_with model: movie do |f| %>

  <div>
    <%= f.label :title, "Título do Filme:" %>
    <%= f.text_field :title %>
  </div> 

  <div>
    <%= f.label :synopsis, "Sinopse:" %>
    <%= f.text_area :synopsis %>
  </div>

  <div>
    <%= f.label :release_year, "Ano de Lançamento:" %>
    <%= f.number_field :release_year %>
  </div>

  <div>
    <%= f.label :poster, 'Imagem:' %>
    <%= f.file_field :poster %>
  </div>

  <div>
    <%= f.label :origin_country, "País de Origem:" %>
    <%= f.text_field :origin_country %>
  </div>

  <div>
    <%= f.label :duration, "Duração em minutos:" %>
    <%= f.number_field :duration %>
  </div>

  <div>
    <%= f.label :director_id, "Diretor:" %>
    <%= f.collection_select :director_id, @directors, :id, :name %>
  </div>

  <div>
    <%= f.label :movie_genre_id, "Gênero do Filme:" %>
    <%= f.collection_select :movie_genre_id, @movie_genres, :id, :name %>
  </div>

  <div>
    <%= f.label :status, "Status:" %>
    <%= f.select :status, Movie.statuses.keys.map { |status| [I18n.t(status), status] }%>
  </div>

  <%= f.submit "Enviar", disable_with: 'Enviando...'%>

<% end %>