<h1>Mais informações sobre o filme <%=@movie.title%> </h1>

<div>
  <% if @movie.poster.attached? %>
    <%= image_tag @movie.poster %>
  <% end %>
</div>

<dl>
  <dt>Ano de Lançamento:</dt>
  <dd><%=@movie.release_year%></dd>
  <dt>País de Origem:</dt>
  <dd><%=@movie.origin_country%></dd>
  <dt>Duração:</dt>
  <dd><%=@movie.duration%> minutos</dd>
  <dt>Diretor Principal:</dt>
  <dd><%=@movie.director.name%></dd>
  <dt>Gênero do Filme:</dt>
  <dd><%=@movie.movie_genre.name%></dd>
  <dt>Status do Filme:</dt>
  <dd><%= I18n.t(@movie.status) %></dd>
</dl>

<%= link_to "Editar", edit_movie_path %>