<h1>O Catálogo de Filmes</h1>

<h3>Gêneros de filmes Cadastrados:</h3>
<% @movie_genres.each do | movie_genre | %>

  <%= link_to movie_genre.name, movie_genre %>
  <br>

<% end %>

<h3>Diretores de filmes Cadastrados:</h3>
<% @directors.each do | director | %>

  <%= link_to director.name, director %>
  <br>

<% end %>

<div>
  <h3>Todos os Filmes Cadastrados:</h3>

  <ul>
    <li><%= link_to "Filmes Lançados", movies_path(status: 'published') %></li>
    <li><%= link_to "Filmes a Serem Lançados", movies_path(status: 'to_be_published') %></li>
    <li><%= link_to "Rascunhos", movies_path(status: 'draft') %></li>
  </ul>

  <% @movies.each do | movie | %>

    <% unless movie.draft? %>
      <div>
        <% if movie.poster.attached? %>
          <%= image_tag movie.poster %>
        <% end %>
      </div>
      <%= link_to movie.title, movie %> -
      Data de Lançamento: <%= movie.release_year %>
      <br>
    <% end %>

  <% end %>
</div>
